venv/
.idea/
check_your_heuristic/__pycache__/
.vscode/
tests/__pycache__
output/*.png
check_your_heuristic/dataset/__pycache__/
check_your_heuristic/heuristics/__pycache__/
.ipynb_checkpoints/
*.ipynb