{% extends "base.html.j2" %}

{% block navbar %}
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="https://www.svgrepo.com/show/336367/check-one.svg">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link active"  href="/about">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contacts">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://github.com"><img class="tn-atom__img t-img loaded" src="https://thumb.tildacdn.com/tild3131-6261-4737-b563-663234393636/-/format/webp/github.png"></a></li>

                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block header %}
    <!-- Header - set the background image for the header in the line below-->
    <header class="py-5 bg-image-full" style="background-image: url('https://thumb.tildacdn.com/tild3564-3064-4834-a233-626437323263/-/format/webp/Vector_21.png')">
        <div class="text-center my-5" style="color: white; height: 50px; margin: 30px 20px 30px 40px;">
            <h1 class="text-white fs-3 fw-bolder">FAQ</h1>
              <div style="text-align: left">
               <p>We have three types of datasets, Base, MuSeRC, RUSSE.</p>
               <p>Base structure is the simplest one. There are two columns of text and one column with a target.</p>
               <p>MuSeRC is a more complex structure, in addition to two columns with text and a target, there is also a paragraph column. The latter is not displayed yet in the uploading form but will be added later.</p>
               <p>For the RUSSE type, there are four more columns start1, start2, end1, end2.</p>
               <p>Depending on which type you choose, you will have a certain number of fields to fill in when loading your dataset.</p>
              </div>             
             </p>

            <p style="color: white">
              <h2>What are the results?</h2>
              After you have uploaded the dataset and clicked on Submit and Upload button, you will see a page with the following data:
              <ol style="text-align: left">
              <li>The table showing the correlation of heuristics with the target and the coverage percentage,</li>
              <li>Basic statistics: Relations between label and words number from the first column, relations between and words number from the second column and label distribution of classes,</li>
              <li>Classification reports: majority, random and random-balanced.</li>
              </ol>
            </p>

            </div>
        </div>
        <div style="height: 40rem"></div>
    </header>
{% endblock %}


{% block content %}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>How to Test your Data</h1>
            <p>A Guide to Upload your Dataset</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>See your dataset statistics</h1>
            <p>A Heuristic checks Guide</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Our Datasets guide</h1>
            <p>Learn about the dataset types available to check your data</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock %}
