{% extends "base.html.j2" %}

{% block header %}
    <!-- Header - set the background image for the header in the line below-->
    <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
        <div class="text-center my-5">
            <h1 class="text-white fs-3 fw-bolder">Something went wrong</h1>
            <p class="text-white-50 mb-0">See below what might be a mistake</p>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <div class="overflow-hidden">
          <div class="container px-5 justify-content-sm-center">
            <p>Ooops. Sorry, we do not know. Send us an email describing the problem.</p>
          </div>
        </div>
     </div>
{% endblock %}


{% block footer %}
    <!-- Footer-->
    <footer class="footer mt-auto py-3 bg-dark fixed-bottom">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; HSE Compling 2022</p></div>
    </footer>
{% endblock %}
