<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type=text/css 
        href="{{ url_for('static', filename='styles.css') }}">
        <meta charset="utf-8">
    </head>

<body>
{{ heuristic_results }}

{%for url in visuals%}
    <image src={{ url_for('static', filename='uploads/' + url) }}>
{% endfor %}
</body>
</html>
