<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type=text/css 
        href="{{ url_for('static', filename='styles.css') }}">
        <meta charset="utf-8">
    </head>

<body>

<div class="row">
  <div class="column left" id="results">
    {{ heuristic_results }}
  </div>
  <div class="column middle" id="images">
    {%for url in visuals%}
    <p id="image">
        <image src={{ url_for('static', filename='uploads/' + url) }}>
    </p>
    {% endfor %}
  </div>
  <div class="column right" id="classification_reports">
      {% for key, value in cl_reports.items()%}
        <p>
        {{ key }}
        {{ value }}
        </p>
    {% endfor %}
  </div>
</div>

</body>
</html>
