{% extends "base.html.j2" %}



{% block header %}
    <!-- Header - set the background image for the header in the line below-->
    <header class="py-5 bg-image-full" style="background-image: url('https://thumb.tildacdn.com/tild3564-3064-4834-a233-626437323263/-/format/webp/Vector_21.png')">
        <div class="text-center my-5">
            <h1 class="text-white-50 mb-0">Heuristic-proof &#10003;</h1>
            <p class="text-white-50 mb-0">Check if you data is vulnerable to shallow heuristics</p>
            <p><a class="btn btn-lg btn-primary" href="/load_dataset">Load your data</a></p>
            </div>
        </div>
        <div style="height: 40rem"></div>

    </header>




{% endblock %}
