{% extends "base.html.j2" %}

{% block navbar %}
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="https://www.svgrepo.com/show/336367/check-one.svg">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contacts">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://github.com"><img class="tn-atom__img t-img loaded" src="https://thumb.tildacdn.com/tild3131-6261-4737-b563-663234393636/-/format/webp/github.png"></a></li>

                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block header %}
    <!-- Header - set the background image for the header in the line below-->
    <header class="py-5 bg-image-full" style="background-image: url('https://thumb.tildacdn.com/tild3564-3064-4834-a233-626437323263/-/format/webp/Vector_21.png')">
        <div class="text-center my-5">
            <h1 class="text-white fs-3 fw-bolder">This is your dataset breakdown</h1>
            <p class="text-white-50 mb-0">Get statistics</p>
        </div>
    </header>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row py-5">
        <div class="col-md-3 container text-center">
            <h3 class="fw-bold text-center">Heuristic checks</h3>
            <div class="overflow">
              <div class="container py-3 justify-content-sm-center">
                {{ heuristic_results }}
              </div>
            </div>
        </div>

        <div class="col-md-7 container text-center">
            <h3 class="fw-bold">Basic stats</h3>
            <div class="overflow-hidden">
              <div>
                  {%for url in visuals[::-1]%}
                    <image class='py-3' src={{ url_for('static', filename='uploads/' + url) }}>
                  {% endfor %}
              </div>
            </div>
        </div>

        <div class="col-md-10 container text-center">
            <h3 class="fw-bold">Classification reports</h3>
            <div class="overflow-hidden">
                <div class="row g-3 py-5">
                    {% for key, value in cl_reports.items()%}
                    <div class="col-md-4">
                        {{ key }}
                        {{ value }}
                    </div>
                    {% endfor %}
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
