{% extends "base.html.j2" %}

{% block header %}
    <!-- Header - set the background image for the header in the line below-->
    <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
        <div class="text-center my-5">
            <h1 class="text-white fs-3 fw-bolder">Load your data below</h1>
            <p class="text-white-50 mb-0">Make sure you have inserted correct field names and a dataset type</p>
        </div>
    </header>
{% endblock %}


{% block content %}
    <!-- Content section-->
    <div class="py-5 col-md-4 container">
        <h2 class="display-5 fw-bold">Upload the Data</h2>
        <form action="{{ url_for('handle_form') }}" enctype="multipart/form-data" method="post">
            <label for="dataset_type" class="form-label">Dataset</label>
            <select class="form-select" name="dataset_type" id="dataset_type">
                <option value="Base">Basic Dataset</option>
                <option value="MultiRC"> MuSeRC (MultiRC)</option>
                <option value="WordInContext">RUSSE (WordInContext)</option>
            </select>
            <div class="invalid-feedback">
            Please provide a valid dataset type: Examples are .
          </div>

            <div id="form_fields" name="config">
                <div class="col-12 form_field base_field">
                    <label for="column_name1" class="form-label">Column 1</label>
                    <input type="text" class="form-control" name="column_1" id="column_name1" placeholder="premise">
                    <div class="invalid-feedback">Please enter the name for the first table column.</div>
                </div>
                <div class="col-12 form_field base_field">
                    <label for="column_name2" class="form-label">Column 2</label>
                    <input type="text" class="form-control" name="column_2" id="column_name2" placeholder="hypothesis">
                    <div class="invalid-feedback">Please enter the name for the second table column.</div>
                </div>
                <div class="col-12 form_field wic_field" style="display:none">
                    <label for="start1" class="form-label">Start 1</label>
                    <input type="text" class="form-control" name='start1' id="start1" placeholder="start1">
                    <div class="invalid-feedback">Please enter the name for the second table column.</div>
                </div>
                <div class="col-12 form_field wic_field" style="display:none">
                    <label for="start2" class="form-label">Start 2</label>
                    <input type="text" class="form-control" name='start2' id="start2" placeholder="start1">
                    <div class="invalid-feedback">Please enter the name for the second table column.</div>
                </div>
                <div class="col-12 form_field wic_field" style="display:none">
                    <label for="end2" class="form-label">End 1</label>
                    <input type="text" class="form-control" name='end1' id="end1" placeholder="end1">
                    <div class="invalid-feedback">Please enter the name for the second table column.</div>
                </div>
                <div class="col-12 form_field wic_field" style="display:none">
                    <label for="end2" class="form-label">End 2</label>
                    <input type="text" class="form-control" name='end2' id="end2" placeholder="end2">
                    <div class="invalid-feedback">Please enter the name for the second table column.</div>
                </div>
                <div class="col-12 form_field base_field">
                    <label for="target_name" class="form-label">Target Name</label>
                    <input type="text" class="form-control" name='target_name' id="target_name" placeholder="label">
                    <div class="invalid-feedback">Please enter the name if the column containing targets.</div>
                </div>
            </div>
            {{ dropzone.load_css() }}
            {{ dropzone.style('border: 2px dashed #0087F7; margin: 10px 0 10px;') }}
            {{ dropzone.create() }}
            <input type="submit" id="submit" value="Submit and Upload">
        </form>
        {{ dropzone.load_js() }}
        {{ dropzone.config() }}
    </div>

{% endblock %}
