{% extends "error.html.j2" %}


{% block content %}
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <div class="overflow-hidden">
          <div class="container px-5 justify-content-sm-center">
            <p>It seems you have inserted wrong column names. Please check and try again.</p>
          </div>
        </div>
     </div>
{% endblock %}
