{% extends "error.html.j2" %}

{% block navbar %}
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="https://www.svgrepo.com/show/336367/check-one.svg">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contacts">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://github.com"><img class="tn-atom__img t-img loaded" src="https://thumb.tildacdn.com/tild3131-6261-4737-b563-663234393636/-/format/webp/github.png"></a></li>

                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <div class="overflow-hidden">
          <div class="container px-5 justify-content-sm-center">
            <p>It seems you have inserted wrong column names. Please check and try again.</p>
          </div>
        </div>
     </div>
{% endblock %}
